<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Mongoose Database </title>
    </head>
    <body>
        <h1>
            Welcome to Mongoose Database
        </h1>
        <h2>
            edit animal:
        </h2>
        <form method="POST" action="/mongooses/<%= animal.id %>">
            <div>
                <label for="name">
                    name: 
                </label>
                <input type="text" id="name" name="name" placeholder="<%= animal.name %>" />
            </div>
            <div>
                <label for="type">
                    type: 
                </label>
                <input type="text" id="type" name="type" placeholder="<%= animal.type %>" />
            </div>
            <div>
                <label for="age">
                    Age:
                </label>
                <input type="number" id="age" name="age" placeholder="<%= animal.age %>" />
            </div>
            <button type="submit">
                Edit animal
            </button>
        </form>
    </body>
</html>